@using UniversityRegistrar.Models
@{
  Layout = "_Layout";
}

<div class="container">
<h3>Assign a course to a Department</h3>
    <form action="/university/assigncourses" method="post">
        <select name="course">
            @if (@Model.Count != 0)
            {
                @foreach(CourseClass course in @Model["courses"])
                {
                    <option name="course" value=@course.GetId()>@course.GetName()</option>
                }
            }
            else
            {
                <option>No Courses in Database</option>
            }
        </select><br>
        <select name="department">
            @if (@Model.Count != 0)
            {
                @foreach(DepartmentClass department in @Model["departments"])
                {
                    <option name="department" value=@department.GetId()>@department.GetName()</option>
                }
            }
            else
            {
                <option>No departments in Database</option>
            }
        </select><br>
        <button id="assignButton"class="btn btn-primary btn-lg" type="submit">Assign</button>
    </form>
    <a href="/">Home Page</a><br>
</div>
